.overviewContainer {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.overviewContainer > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 24px;
}

.overviewContainer > ul > li {
    border-radius: 8px;
    height: 400px;
    width: 300px;
    background-color: var(--on-background);
    display: grid;
    grid-template-rows: 1fr 3fr;
    justify-content: center;
}

.overviewContainer > ul > li > p {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultMapContainer {
    width: 100%;
    height: 100%;
}

.resultMapContainer > div {
    z-index: 5;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.continue {
    position: absolute;
    left: 10px;
    bottom: 10px;
}